@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInLog {
  0%   { opacity: 0; transform: translateX(-4px); }
  100% { opacity: 1; transform: translateX(0); }
}

/* Sobrescritura aislada del scrollbar del navegador */
::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

/* Pista de fondo: Forzar negro puro para mimetizarse con el fondo real del HUD */
::-webkit-scrollbar-track {
    background: #000000 !important;
}

/* Indicador de posición (Thumb): Gris oscuro neutro industrial */
::-webkit-scrollbar-thumb {
    background: #1A1A1A !important; 
    border-radius: 4px !important;
    border: 2px solid #000000 !important; /* Colchón visual transparente */
}

/* Estado Hover del indicador */
::-webkit-scrollbar-thumb:hover {
    background: #262626 !important;
}

/* Soporte estándar para Firefox sin alterar divs */
html {
    scrollbar-width: thin !important;
    scrollbar-color: #1A1A1A #000000 !important;
}

